@media screen and (max-width:480px) {
    body {
        font-size: 10px;
    }
    form h1 {
   width: 50%;
   margin-left: 23%;
   
        
          
       
       }
    .section1 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    } 
    .section1  .input {
        height: 25px;
    
    }
    
    .section1 .row2 select  {
        height: 28px; 
        
    }
    .section1 .row {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-right: 10%;
    }
    
    .section2 {
        max-width: 40%;
        height: auto;
        border: 1px solid #808080;
        border-radius: 3px;
        margin-left: 27%;
       background-color: #EFF7FA;
    }
    
    .section2 .row {
        width: 80%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }
    .section2 .row2 {
        width: 74%;
        padding-left: 10px;
        height: 40px;
        margin-left: auto;
        margin-right: auto;
      
        
    }
    .rows {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
         
    }
    .section2 .url {
        width: 90%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
       
    }
  
    .section2 .texturl { 
        width: 82%;
        margin-bottom: 20px;
        height: 25px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .section2 .addurl {
        width: 90%;
        height: 25px;
        margin-left: auto;
        margin-right: auto;
        
        
        
    }
    
    .section2 .save {
        width: 82%;
        height: 25px;
        margin-top: 40px;
       margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
        
    
    }
    .section2 .row .input {
        height: 25px;
        margin-bottom: 20px;

    }
    .section2 select  {
        height: 28px;
        
    } 
    .section2 h2 {
        font-size: 12px;
       padding-left: 18px; 
    }
    .section3 {
        max-width:40%;
        height: auto;
      margin-left: 27%;
      margin-top: -5px;
    }
    .section3 .submit {
        display: none;
    }
    .section3 .btn2 {
        width: 100%;
        height: 25px;
        background-color: #14C302;
        border-radius: 25px;
        border-color: transparent;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

