form {
    font-family: 'Roboto', sans-serif;
    max-width: 1200px;
    height: 900px;
    color: #808080;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
}


.row {
    width: 40%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 5%;
}

.row2 {
    width: 40%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 5%;
}

.section1 {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.row .input {
    padding-left: 10px;
    height: 40px;
    border: 1px solid #808080;
    border-radius: 3px;

}

.row2 .input {
    padding-left: 10px;
    height: 40px;
    border: 1px solid #808080;
    border-radius: 3px;
}
.section1 .row2 select  {
    color: #808080;
    height: 45px;
    width: auto;
}


form h1 {
   
 text-align: center;
    color: #082662;

}

form h1 strong {
    text-decoration: none;
    color: #04AAF4;
}

.section2 {
    max-width: 90%;
    height: 320px;
    border: 1px solid #808080;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
    background-color: #EFF7FA;
}

.section2 .row {
    width: 40%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section2 .row2 {
    border: 1px solid #808080;
    width: 40%;
    height: 85px;
    display: flex;
    resize: none;
    border-radius: 3px;
    padding-left: 1%;
    padding-top: 1%;
}

.section2 .row .input {
    border: 1px solid #808080;
    height: 40px;
    border-radius: 3px;

}
.section2 select  {
    color: #808080;
    height: 40px;
    width: auto;
} 

.rows {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.section2 h2 {
    font-size: 18px;
    padding-left: 5%;
    padding-top: 1%;
    color: #7690AF;
}

.section2 .url {

    width: 90%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;



}

.section2 .texturl {
    border: 1px solid #808080;
    width: 88%;
    border-radius: 3px;
    padding-left: 10px;
}

.section2 .addurl {
    width: 10%;
    background-color: #04AAF4;
    border-radius: 5px;
    border-color: transparent;
    color: white;
    cursor: pointer;
}

.section2 .save {
    width: 25%;
    height: 50px;
    background-color: #04AAF4;
    border-radius: 5px;
    border-color: transparent;
    color: white;
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;

}

.section3 {
    margin-top: 30px;
    max-width: 90%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.section3 .row {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    line-height: 1.6;
    margin: 0;

}

.section3 .submit {
    width: 15%;
    height: 50px;
    background-color: #14C302;
    border-radius: 25px;
    border-color: transparent;
    color: white;
    cursor: pointer;

}

.section3 a {
    color: #04AAF4;
}

.section3 .btn2 {
   display: none; 
}
  